* {
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(Contact_Tracing_Animated.gif);
  background-size: cover;
}
button{
  cursor: pointer;
}
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}

.details{
  margin-left: 10px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 20px 20px;
}

.login-form {
  width: auto;
  margin: 0px 0px;
  padding: 10px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  width: 93%;
  padding: 2% 3%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #808080;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.welcome{
  padding: 20px;
}
a {
  color: blue;
  text-decoration:underline;
}
a:hover{
  color: #5F9EA0;
}
.signin{
  text-decoration: underline;
  color: blue;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  margin-bottom: 20px;
  border: 1px solid #f44336;
  color: #f44336;
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.cancelbtn,.returnbtn,.signoutbtn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #f44336;
  border: none;
  border-radius: 5px;
  width: auto;
  text-decoration: none;
}

.cancelbtn{
  width: 30%;
}
.admincancel{

  padding: 10px;
  margin: 0px 0px 0px 0px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  height:10px;
  width: auto;
  text-decoration: none;
  flex-grow:1;

}

.loginbtn {
  padding: 10px;
  width: 50%;
  font-size: 15px;
  color: white;
  background: #04AA6D;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.logincancel{

  display:flex;

}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.verification{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labels{
  text-align: left;
}
.details{
  text-align: right;
  text-decoration: none;
}

.reg-form{
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}

.fac-form{
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  z-index: 1;
}

.error-modal {
  position: absolute;
  z-index: 5;
	top: 30%;
  left: 50%;
  width: 280px;
  height: 210px;
  margin-left: -140px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 5px 8px 15px 0 rgba(0,0,0,0.4);
	text-align: center;
	overflow: hidden;
	animation: show-modal .7s ease-in-out;
  border-radius: 5% 5%;
	
}
.reg-img {
  margin-top: 24px;
}

.title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 14px 0 5px 0;
}

.reg-mod-msg {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  margin: 0;
  padding: 0 30px;
}

.reg-btn {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F65656;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background .3s ease-in-out;
  outline: none;
  /*
  &:hover {
    background: #EC3434;
  }*/
  
}

@keyframes show-modal {
	0% {
		transform: scale(0);
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(.95);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes hide-modal {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0);
	}
}